@charset "UTF-8";

#screen {
    position: relative;
    margin: 5% 10%;
}

img.background {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
}

img.player {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 2;
}