@charset "UTF-8";

#screen {
    position: relative;
    margin: 0 250px;
}

img.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px; 
    height: 830px;
    z-index: 1;
}

#intro {
    position: absolute;
    background-color: #dddddd;
    top: 0px;
    left: 0px;
    width: 800px; 
    height: 810px;
    z-index: 7;
    padding: 10px 100px;
}

button {
    width: 200px; 
    height: 100px;
    background-color: yellow;
}

h1.winLose {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 200px; 
    height: 100px;
    font-size: 100px;
    z-index: 6;
}

img.player {
    position: absolute;
    top: 530px;
    left: 270px;
    width: 35px; 
    height: 80px;
    z-index: 3;
}

img.sword {
    position: absolute;
    top: 530px;
    left: 305px;
    width: 35px; 
    height: 80px;
    z-index: 3;
}

img.enemy {
    position: absolute;
    top: 530px;
    left: 670px;
    width: 70px; 
    height: 80px;
    z-index: 3;
}

img.block0 {
    position: absolute;
    top: 790px;
    left: 0px;
    width: 1000px; 
    height: 40px;
    z-index: 2;
}

img.block1 {
    position: absolute;
    top: 610px;
    left: 200px;
    width: 200px; 
    height: 40px;
    z-index: 2;
}

img.block2 {
    position: absolute;
    top: 610px;
    left: 600px;
    width: 200px; 
    height: 40px;
    z-index: 2;
}

img.block3 {
    position: absolute;
    top: 430px;
    left: 400px;
    width: 200px; 
    height: 40px;
    z-index: 2;
}

img.block4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px; 
    height: 20px;
    z-index: 2;
}

img.wall0 {
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px; 
    height: 830px;
    z-index: 2;
}

img.wall1 {
    position: absolute;
    top: 0;
    left: 1000px;
    width: 20px; 
    height: 830px;
    z-index: 2;
}

img.fireball0 {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 40px; 
    height: 40px;
    z-index: 4;
}

img.fireball1 {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 40px; 
    height: 40px;
    z-index: 4;
}

img.fireball2 {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 40px; 
    height: 40px;
    z-index: 4;
}

img.fireball3 {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 40px; 
    height: 40px;
    z-index: 4;
}

img.fireball4 {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 40px; 
    height: 40px;
    z-index: 4;
}

img.iceball0 {
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px; 
    height: 25px;
    z-index: 4;
}

img.iceball1 {
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px; 
    height: 25px;
    z-index: 4;
}

img.iceball2 {
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px; 
    height: 25px;
    z-index: 4;
}

img.iceball3 {
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px; 
    height: 25px;
    z-index: 4;
}

img.iceball4 {
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px; 
    height: 25px;
    z-index: 4;
}

img.player_picture {
    position: absolute;
    top: 0;
    left: -230px;
    width: 200px; 
    height: 280px;
    z-index: 5;
}

img.player_HP_green {
    position: absolute;
    top: 290px;
    left: -230px;
    width: 200px; 
    height: 20px;
    z-index: 6;
}

img.player_HP_gray {
    position: absolute;
    top: 290px;
    left: -230px;
    width: 200px; 
    height: 20px;
    z-index: 5;
}

img.enemy_picture {
    position: absolute;
    top: 0;
    left: 1030px;
    width: 200px; 
    height: 280px;
    z-index: 5;
}

img.enemy_HP_green {
    position: absolute;
    top: 290px;
    left: 1030px;
    width: 200px; 
    height: 20px;
    z-index: 6;
}

img.enemy_HP_gray {
    position: absolute;
    top: 290px;
    left: 1030px;
    width: 200px; 
    height: 20px;
    z-index: 5;
}

#reset {
    position: absolute;
    top: 700px;
    left: 1100px;
    width: 200px; 
    height: 80px;
    background-color: burlywood;
    z-index: 7;
}

img.left_button {
    position: absolute;
    top: 340px;
    left: -180px;
    width: 150px; 
    height: 150px;
    z-index: 5;
}

img.jump_button {
    position: absolute;
    top: 510px;
    left: -180px;
    width: 150px; 
    height: 150px;
    z-index: 5;
}

img.ice_button {
    position: absolute;
    top: 680px;
    left: -180px;
    width: 150px; 
    height: 150px;
    z-index: 5;
}

img.right_button {
    position: absolute;
    top: 340px;
    left: 1030px;
    width: 150px; 
    height: 150px;
    z-index: 5;
}

img.sword_button {
    position: absolute;
    top: 510px;
    left: 1030px;
    width: 150px; 
    height: 150px;
    z-index: 5;
}

